
body {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

h2 {
  color: #2F2F2F;
  font-weight: 500;
  font-family: "Roboto Slab", serif;
  font-size: 24pt;
}

.logo-text:hover {
  color: #E7BF31;
}

.header {
  display: flex;
  float: left;
  justify-content: space-between;
  overflow: hidden;
  text-align: center;
  align-items: center;
  padding: 24px 150px;
  height: 80px;
  width: 100%;
  background-color: white;
  color: #2F2F2F;
  filter: drop-shadow(0 4px 20px #00000066);
}

.focus-hidden {
  display:none;
}

.header-links {
  display: flex;
}

.header-link-a, .header-link-u, .header-link-c, .header-link-b {
  padding: 0 25px;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 14pt;
  color: #2F2F2F;
}

.header-link-a:hover {
  color: #CA73E9;
}

.header-link-u:hover {
  color: #E44168;
}

.header-link-c:hover {
  color: #13B658;
}

.header-link-b:hover {
  color: #09C3CF;
}
