/* Global Styles
--------------------------------------------- */

body {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

h2 {
  color: #2F2F2F;
  font-weight: 500;
  font-family: "Roboto Slab", serif;
  font-size: 24pt;
}
/* ********* */


/* Header Logo &  Header Nav
--------------------------------------------- */

.logo-text:hover,
.logo-text:active {
  color: #E7BF31;
}

.header {
  display: flex;
  float: left;
  justify-content: space-between;
  overflow: hidden;
  text-align: center;
  align-items: center;
  padding: 24px 150px;
  height: 80px;
  width: 100%;
  background-color: white;
  color: #2F2F2F;
  filter: drop-shadow(0 4px 20px #00000066);
}

.header-links {
  display: flex;
}

.header-links a {
  padding: 0 25px;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 14pt;
  color: #2F2F2F;
}

.header-link-a:hover,
.header-link-a:active {
  color: #CA73E9;
}

.header-link-u:hover,
.header-link-u:active {
  color: #E44168;
}

.header-link-c:hover,
.header-link-c:active {
  color: #13B658;
}

.header-link-b:hover,
.header-link-b:active {
  color: #09C3CF;
}
/* ********* */


/* Rules
--------------------------------------------- */

.screen-readers {
  display:none;
}
